<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bunkerarrow_2_1</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{40,37}}</string>
        <key>offset</key>
        <string>{0,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{108,88},{40,37}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>bunkerarrow_6_1</key>
      <dict>
        <key>frame</key>
        <string>{{1,40},{40,37}}</string>
        <key>offset</key>
        <string>{0,20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{108,89},{40,37}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>bunkerarrow_3_1</key>
      <dict>
        <key>frame</key>
        <string>{{43,1},{47,29}}</string>
        <key>offset</key>
        <string>{1.5,21.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{106,92},{47,29}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>bunkerarrow_5_1</key>
      <dict>
        <key>frame</key>
        <string>{{74,1},{47,29}}</string>
        <key>offset</key>
        <string>{1.5,20.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{106,93},{47,29}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>bunkerarrow_1_1</key>
      <dict>
        <key>frame</key>
        <string>{{1,79},{29,42}}</string>
        <key>offset</key>
        <string>{-0.5,21}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{113,86},{29,42}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>bunkerarrow_7_1</key>
      <dict>
        <key>frame</key>
        <string>{{45,50},{29,42}}</string>
        <key>offset</key>
        <string>{-0.5,21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{113,86},{29,42}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>bunkerarrow_4_1</key>
      <dict>
        <key>frame</key>
        <string>{{45,94},{51,14}}</string>
        <key>offset</key>
        <string>{2.5,21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{105,100},{51,14}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>bunkerarrow_0_1</key>
      <dict>
        <key>frame</key>
        <string>{{98,50},{12,46}}</string>
        <key>offset</key>
        <string>{0,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{122,85},{12,46}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>bunkerarrow_8_1</key>
      <dict>
        <key>frame</key>
        <string>{{105,1},{12,46}}</string>
        <key>offset</key>
        <string>{0,22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{122,83},{12,46}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{118,109}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
