<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>orcbunker_r_attack_2_1</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_6_2</key>
      <dict>
        <key>frame</key>
        <string>{{133,1},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_2_3</key>
      <dict>
        <key>frame</key>
        <string>{{1,135},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_2_4</key>
      <dict>
        <key>frame</key>
        <string>{{135,135},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_2_5</key>
      <dict>
        <key>frame</key>
        <string>{{265,1},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_2_6</key>
      <dict>
        <key>frame</key>
        <string>{{1,267},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_2_7</key>
      <dict>
        <key>frame</key>
        <string>{{135,267},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_2_2</key>
      <dict>
        <key>frame</key>
        <string>{{397,1},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_6_7</key>
      <dict>
        <key>frame</key>
        <string>{{269,135},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_6_6</key>
      <dict>
        <key>frame</key>
        <string>{{269,269},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_6_5</key>
      <dict>
        <key>frame</key>
        <string>{{1,399},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_6_4</key>
      <dict>
        <key>frame</key>
        <string>{{135,399},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_6_3</key>
      <dict>
        <key>frame</key>
        <string>{{529,1},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_6_1</key>
      <dict>
        <key>frame</key>
        <string>{{401,135},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_3_5</key>
      <dict>
        <key>frame</key>
        <string>{{401,269},{129,127}}</string>
        <key>offset</key>
        <string>{0.5,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64,45},{129,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_3_1</key>
      <dict>
        <key>frame</key>
        <string>{{532,269},{129,127}}</string>
        <key>offset</key>
        <string>{0.5,19.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{64,45},{129,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_3_2</key>
      <dict>
        <key>frame</key>
        <string>{{401,398},{129,127}}</string>
        <key>offset</key>
        <string>{0.5,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64,45},{129,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_3_3</key>
      <dict>
        <key>frame</key>
        <string>{{532,400},{129,127}}</string>
        <key>offset</key>
        <string>{0.5,19.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{64,45},{129,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_3_4</key>
      <dict>
        <key>frame</key>
        <string>{{269,403},{129,127}}</string>
        <key>offset</key>
        <string>{0.5,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64,45},{129,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_3_6</key>
      <dict>
        <key>frame</key>
        <string>{{400,527},{129,127}}</string>
        <key>offset</key>
        <string>{0.5,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64,45},{129,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_3_7</key>
      <dict>
        <key>frame</key>
        <string>{{1,531},{129,127}}</string>
        <key>offset</key>
        <string>{0.5,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64,45},{129,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_5_2</key>
      <dict>
        <key>frame</key>
        <string>{{531,531},{128,127}}</string>
        <key>offset</key>
        <string>{2,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66,45},{128,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_5_3</key>
      <dict>
        <key>frame</key>
        <string>{{132,531},{128,127}}</string>
        <key>offset</key>
        <string>{2,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66,45},{128,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_5_4</key>
      <dict>
        <key>frame</key>
        <string>{{262,532},{128,127}}</string>
        <key>offset</key>
        <string>{2,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66,45},{128,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_5_5</key>
      <dict>
        <key>frame</key>
        <string>{{392,656},{128,127}}</string>
        <key>offset</key>
        <string>{2,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66,45},{128,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_5_6</key>
      <dict>
        <key>frame</key>
        <string>{{522,660},{128,127}}</string>
        <key>offset</key>
        <string>{2,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66,45},{128,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_5_7</key>
      <dict>
        <key>frame</key>
        <string>{{1,660},{128,127}}</string>
        <key>offset</key>
        <string>{2,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66,45},{128,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_5_1</key>
      <dict>
        <key>frame</key>
        <string>{{131,660},{128,127}}</string>
        <key>offset</key>
        <string>{2,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66,45},{128,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_4_1</key>
      <dict>
        <key>frame</key>
        <string>{{533,135},{131,123}}</string>
        <key>offset</key>
        <string>{5.5,25.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68,41},{131,123}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_7_4</key>
      <dict>
        <key>frame</key>
        <string>{{658,135},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_7_2</key>
      <dict>
        <key>frame</key>
        <string>{{661,1},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_7_3</key>
      <dict>
        <key>frame</key>
        <string>{{652,660},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_1_1</key>
      <dict>
        <key>frame</key>
        <string>{{661,268},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_1_2</key>
      <dict>
        <key>frame</key>
        <string>{{661,401},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_1_3</key>
      <dict>
        <key>frame</key>
        <string>{{782,134},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_1_4</key>
      <dict>
        <key>frame</key>
        <string>{{785,1},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_1_5</key>
      <dict>
        <key>frame</key>
        <string>{{661,534},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_1_6</key>
      <dict>
        <key>frame</key>
        <string>{{785,267},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_7_7</key>
      <dict>
        <key>frame</key>
        <string>{{785,400},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_1_7</key>
      <dict>
        <key>frame</key>
        <string>{{785,658},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_7_1</key>
      <dict>
        <key>frame</key>
        <string>{{652,784},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_7_6</key>
      <dict>
        <key>frame</key>
        <string>{{261,661},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_7_5</key>
      <dict>
        <key>frame</key>
        <string>{{385,785},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_4_7</key>
      <dict>
        <key>frame</key>
        <string>{{518,789},{122,123}}</string>
        <key>offset</key>
        <string>{1,25.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68,41},{122,123}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_4_6</key>
      <dict>
        <key>frame</key>
        <string>{{1,789},{122,123}}</string>
        <key>offset</key>
        <string>{1,25.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68,41},{122,123}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_4_5</key>
      <dict>
        <key>frame</key>
        <string>{{126,789},{122,123}}</string>
        <key>offset</key>
        <string>{1,25.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68,41},{122,123}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_4_3</key>
      <dict>
        <key>frame</key>
        <string>{{906,134},{122,123}}</string>
        <key>offset</key>
        <string>{1,25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,41},{122,123}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_4_2</key>
      <dict>
        <key>frame</key>
        <string>{{909,1},{122,123}}</string>
        <key>offset</key>
        <string>{1,25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,41},{122,123}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_4_4</key>
      <dict>
        <key>frame</key>
        <string>{{794,533},{122,123}}</string>
        <key>offset</key>
        <string>{1,25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,41},{122,123}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_0_1</key>
      <dict>
        <key>frame</key>
        <string>{{251,794},{117,124}}</string>
        <key>offset</key>
        <string>{0.5,20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{70,46},{117,124}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_8_1</key>
      <dict>
        <key>frame</key>
        <string>{{785,791},{118,118}}</string>
        <key>offset</key>
        <string>{-1,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,46},{118,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_8_7</key>
      <dict>
        <key>frame</key>
        <string>{{905,791},{118,118}}</string>
        <key>offset</key>
        <string>{-1,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,46},{118,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_8_6</key>
      <dict>
        <key>frame</key>
        <string>{{909,658},{118,118}}</string>
        <key>offset</key>
        <string>{-1,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,46},{118,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_8_5</key>
      <dict>
        <key>frame</key>
        <string>{{909,259},{118,118}}</string>
        <key>offset</key>
        <string>{-1,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,46},{118,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_8_4</key>
      <dict>
        <key>frame</key>
        <string>{{909,379},{118,118}}</string>
        <key>offset</key>
        <string>{-1,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,46},{118,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_8_3</key>
      <dict>
        <key>frame</key>
        <string>{{377,909},{118,118}}</string>
        <key>offset</key>
        <string>{-1,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,46},{118,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_8_2</key>
      <dict>
        <key>frame</key>
        <string>{{643,908},{118,118}}</string>
        <key>offset</key>
        <string>{-1,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,46},{118,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_0_7</key>
      <dict>
        <key>frame</key>
        <string>{{497,913},{117,118}}</string>
        <key>offset</key>
        <string>{0.5,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70,46},{117,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_0_3</key>
      <dict>
        <key>frame</key>
        <string>{{763,911},{117,118}}</string>
        <key>offset</key>
        <string>{0.5,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70,46},{117,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_0_4</key>
      <dict>
        <key>frame</key>
        <string>{{882,911},{117,118}}</string>
        <key>offset</key>
        <string>{0.5,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70,46},{117,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_0_5</key>
      <dict>
        <key>frame</key>
        <string>{{1,913},{117,118}}</string>
        <key>offset</key>
        <string>{0.5,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70,46},{117,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_0_6</key>
      <dict>
        <key>frame</key>
        <string>{{120,913},{117,118}}</string>
        <key>offset</key>
        <string>{0.5,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70,46},{117,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_0_2</key>
      <dict>
        <key>frame</key>
        <string>{{239,913},{117,118}}</string>
        <key>offset</key>
        <string>{0.5,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70,46},{117,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_attack_0_1</key>
      <dict>
        <key>frame</key>
        <string>{{251,794},{117,124}}</string>
        <key>offset</key>
        <string>{0.5,20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{70,46},{117,124}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_idle_1_1</key>
      <dict>
        <key>frame</key>
        <string>{{661,268},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_idle_2_1</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_idle_3_1</key>
      <dict>
        <key>frame</key>
        <string>{{532,269},{129,127}}</string>
        <key>offset</key>
        <string>{0.5,19.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{64,45},{129,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_idle_4_1</key>
      <dict>
        <key>frame</key>
        <string>{{533,135},{131,123}}</string>
        <key>offset</key>
        <string>{5.5,25.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68,41},{131,123}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_idle_5_1</key>
      <dict>
        <key>frame</key>
        <string>{{131,660},{128,127}}</string>
        <key>offset</key>
        <string>{2,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66,45},{128,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_idle_6_1</key>
      <dict>
        <key>frame</key>
        <string>{{401,135},{130,132}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,42},{130,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_idle_7_1</key>
      <dict>
        <key>frame</key>
        <string>{{652,784},{122,131}}</string>
        <key>offset</key>
        <string>{-2,21.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{65,41},{122,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>orcbunker_r_idle_8_1</key>
      <dict>
        <key>frame</key>
        <string>{{785,791},{118,118}}</string>
        <key>offset</key>
        <string>{-1,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,46},{118,118}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{1032,1032}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
