<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>saintess_r_attack_6_3</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{145,113}}</string>
        <key>offset</key>
        <string>{27.5,27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{83,44},{145,113}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_2_4</key>
      <dict>
        <key>frame</key>
        <string>{{1,116},{121,135}}</string>
        <key>offset</key>
        <string>{23.5,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{91,60},{121,135}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_3_4</key>
      <dict>
        <key>frame</key>
        <string>{{148,1},{131,120}}</string>
        <key>offset</key>
        <string>{29.5,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{92,61},{131,120}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_7_4</key>
      <dict>
        <key>frame</key>
        <string>{{138,134},{121,128}}</string>
        <key>offset</key>
        <string>{18.5,33}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{86,31},{121,128}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_5_4</key>
      <dict>
        <key>frame</key>
        <string>{{261,134},{139,108}}</string>
        <key>offset</key>
        <string>{30.5,22}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{89,52},{139,108}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_0_3</key>
      <dict>
        <key>frame</key>
        <string>{{1,239},{108,136}}</string>
        <key>offset</key>
        <string>{-20,42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,18},{108,136}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_2_5</key>
      <dict>
        <key>frame</key>
        <string>{{111,264},{115,127}}</string>
        <key>offset</key>
        <string>{17.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{88,59},{115,127}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_1_4</key>
      <dict>
        <key>frame</key>
        <string>{{228,275},{104,137}}</string>
        <key>offset</key>
        <string>{16,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,63},{104,137}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_1_3</key>
      <dict>
        <key>frame</key>
        <string>{{270,1},{105,131}}</string>
        <key>offset</key>
        <string>{-29.5,35.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,27},{105,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_3_5</key>
      <dict>
        <key>frame</key>
        <string>{{334,275},{123,110}}</string>
        <key>offset</key>
        <string>{24.5,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{91,61},{123,110}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_7_5</key>
      <dict>
        <key>frame</key>
        <string>{{371,134},{109,122}}</string>
        <key>offset</key>
        <string>{15.5,29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{89,38},{109,122}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_5_5</key>
      <dict>
        <key>frame</key>
        <string>{{377,1},{129,102}}</string>
        <key>offset</key>
        <string>{25.5,17}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{89,60},{129,102}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_2_3</key>
      <dict>
        <key>frame</key>
        <string>{{1,377},{105,124}}</string>
        <key>offset</key>
        <string>{-29.5,29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,37},{105,124}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_4_4</key>
      <dict>
        <key>frame</key>
        <string>{{108,393},{137,94}}</string>
        <key>offset</key>
        <string>{35.5,13}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{95,68},{137,94}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_6_2</key>
      <dict>
        <key>frame</key>
        <string>{{334,387},{128,99}}</string>
        <key>offset</key>
        <string>{18,20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{82,58},{128,99}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_1_5</key>
      <dict>
        <key>frame</key>
        <string>{{204,414},{96,130}}</string>
        <key>offset</key>
        <string>{10,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{90,61},{96,130}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_8_3</key>
      <dict>
        <key>frame</key>
        <string>{{481,1},{114,108}}</string>
        <key>offset</key>
        <string>{26,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{97,51},{114,108}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_3_3</key>
      <dict>
        <key>frame</key>
        <string>{{459,258},{105,116}}</string>
        <key>offset</key>
        <string>{-27.5,24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48,46},{105,116}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_4_5</key>
      <dict>
        <key>frame</key>
        <string>{{482,111},{129,94}}</string>
        <key>offset</key>
        <string>{29.5,12}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{93,69},{129,94}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_8_4</key>
      <dict>
        <key>frame</key>
        <string>{{302,488},{89,136}}</string>
        <key>offset</key>
        <string>{10.5,38}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{94,22},{89,136}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_6_4</key>
      <dict>
        <key>frame</key>
        <string>{{464,376},{126,96}}</string>
        <key>offset</key>
        <string>{20,16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85,64},{126,96}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_8_2</key>
      <dict>
        <key>frame</key>
        <string>{{464,474},{108,110}}</string>
        <key>offset</key>
        <string>{24,26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{98,47},{108,110}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_7_3</key>
      <dict>
        <key>frame</key>
        <string>{{1,532},{111,106}}</string>
        <key>offset</key>
        <string>{14.5,16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{87,59},{111,106}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_6_6</key>
      <dict>
        <key>frame</key>
        <string>{{114,546},{112,104}}</string>
        <key>offset</key>
        <string>{17,19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{89,57},{112,104}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_7_2</key>
      <dict>
        <key>frame</key>
        <string>{{228,579},{123,94}}</string>
        <key>offset</key>
        <string>{18.5,19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85,62},{123,94}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_0_4</key>
      <dict>
        <key>frame</key>
        <string>{{353,586},{88,131}}</string>
        <key>offset</key>
        <string>{-3,-9.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{81,72},{88,131}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_2_6</key>
      <dict>
        <key>frame</key>
        <string>{{486,586},{101,113}}</string>
        <key>offset</key>
        <string>{10.5,11.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{88,60},{101,113}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_5_6</key>
      <dict>
        <key>frame</key>
        <string>{{566,242},{121,92}}</string>
        <key>offset</key>
        <string>{21.5,13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{89,69},{121,92}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_5_3</key>
      <dict>
        <key>frame</key>
        <string>{{574,474},{106,105}}</string>
        <key>offset</key>
        <string>{-3,14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{72,61},{106,105}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_4_3</key>
      <dict>
        <key>frame</key>
        <string>{{578,111},{105,106}}</string>
        <key>offset</key>
        <string>{-17.5,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{58,55},{105,106}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_7_6</key>
      <dict>
        <key>frame</key>
        <string>{{592,336},{98,113}}</string>
        <key>offset</key>
        <string>{14,24.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{93,47},{98,113}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_3_6</key>
      <dict>
        <key>frame</key>
        <string>{{1,640},{111,99}}</string>
        <key>offset</key>
        <string>{17.5,15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{90,63},{111,99}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_4_6</key>
      <dict>
        <key>frame</key>
        <string>{{114,652},{119,91}}</string>
        <key>offset</key>
        <string>{23.5,10.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{92,72},{119,91}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_6_1</key>
      <dict>
        <key>frame</key>
        <string>{{207,675},{118,90}}</string>
        <key>offset</key>
        <string>{12,16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{81,67},{118,90}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_6_7</key>
      <dict>
        <key>frame</key>
        <string>{{597,1},{108,94}}</string>
        <key>offset</key>
        <string>{12,16}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{86,65},{108,94}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_7_1</key>
      <dict>
        <key>frame</key>
        <string>{{327,676},{109,93}}</string>
        <key>offset</key>
        <string>{10.5,17.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84,64},{109,93}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_1_6</key>
      <dict>
        <key>frame</key>
        <string>{{601,581},{84,119}}</string>
        <key>offset</key>
        <string>{2,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{88,60},{84,119}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_7_7</key>
      <dict>
        <key>frame</key>
        <string>{{438,689},{97,101}}</string>
        <key>offset</key>
        <string>{10.5,19.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{90,58},{97,101}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_8_5</key>
      <dict>
        <key>frame</key>
        <string>{{541,702},{75,130}}</string>
        <key>offset</key>
        <string>{8.5,33}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{99,30},{75,130}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_8_1</key>
      <dict>
        <key>frame</key>
        <string>{{673,702},{85,107}}</string>
        <key>offset</key>
        <string>{10.5,24.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{96,50},{85,107}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_4_7</key>
      <dict>
        <key>frame</key>
        <string>{{685,111},{101,90}}</string>
        <key>offset</key>
        <string>{15.5,11}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{93,72},{101,90}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_0_5</key>
      <dict>
        <key>frame</key>
        <string>{{682,451},{72,125}}</string>
        <key>offset</key>
        <string>{-3,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{89,69},{72,125}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_5_2</key>
      <dict>
        <key>frame</key>
        <string>{{689,214},{114,79}}</string>
        <key>offset</key>
        <string>{12,9.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{83,79},{114,79}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_0_2</key>
      <dict>
        <key>frame</key>
        <string>{{693,1},{103,86}}</string>
        <key>offset</key>
        <string>{-18.5,19}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{58,66},{103,86}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_5_7</key>
      <dict>
        <key>frame</key>
        <string>{{692,330},{112,78}}</string>
        <key>offset</key>
        <string>{14,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{86,82},{112,78}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_3_7</key>
      <dict>
        <key>frame</key>
        <string>{{687,578},{87,99}}</string>
        <key>offset</key>
        <string>{8.5,16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{93,62},{87,99}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_1_2</key>
      <dict>
        <key>frame</key>
        <string>{{770,214},{87,98}}</string>
        <key>offset</key>
        <string>{-19.5,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,59},{87,98}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_8_6</key>
      <dict>
        <key>frame</key>
        <string>{{756,444},{69,122}}</string>
        <key>offset</key>
        <string>{11.5,29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{105,38},{69,122}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_5_1</key>
      <dict>
        <key>frame</key>
        <string>{{776,568},{111,74}}</string>
        <key>offset</key>
        <string>{10.5,6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{83,85},{111,74}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_4_1</key>
      <dict>
        <key>frame</key>
        <string>{{777,106},{91,90}}</string>
        <key>offset</key>
        <string>{11.5,13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{94,70},{91,90}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_8_7</key>
      <dict>
        <key>frame</key>
        <string>{{772,314},{72,111}}</string>
        <key>offset</key>
        <string>{11,24.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{103,48},{72,111}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_4_2</key>
      <dict>
        <key>frame</key>
        <string>{{781,1},{89,89}}</string>
        <key>offset</key>
        <string>{8.5,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,72},{89,89}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_2_2</key>
      <dict>
        <key>frame</key>
        <string>{{782,681},{76,102}}</string>
        <key>offset</key>
        <string>{-15,19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{75,58},{76,102}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_0_6</key>
      <dict>
        <key>frame</key>
        <string>{{541,779},{68,113}}</string>
        <key>offset</key>
        <string>{-8,6.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{86,65},{68,113}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_3_1</key>
      <dict>
        <key>frame</key>
        <string>{{207,767},{76,100}}</string>
        <key>offset</key>
        <string>{3,18}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{93,60},{76,100}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_2_7</key>
      <dict>
        <key>frame</key>
        <string>{{309,771},{75,101}}</string>
        <key>offset</key>
        <string>{0.5,19.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{91,58},{75,101}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_3_2</key>
      <dict>
        <key>frame</key>
        <string>{{1,741},{74,101}}</string>
        <key>offset</key>
        <string>{-3,15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{88,62},{74,101}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_6_5</key>
      <dict>
        <key>frame</key>
        <string>{{77,773},{89,84}}</string>
        <key>offset</key>
        <string>{3.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{87,77},{89,84}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_8_7</key>
      <dict>
        <key>frame</key>
        <string>{{168,845},{81,90}}</string>
        <key>offset</key>
        <string>{8.5,15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{96,68},{81,90}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_6_6</key>
      <dict>
        <key>frame</key>
        <string>{{1,859},{98,74}}</string>
        <key>offset</key>
        <string>{3,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{82,85},{98,74}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_6_7</key>
      <dict>
        <key>frame</key>
        <string>{{782,785},{99,73}}</string>
        <key>offset</key>
        <string>{2.5,6.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{81,85},{99,73}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_8_1</key>
      <dict>
        <key>frame</key>
        <string>{{656,789},{81,89}}</string>
        <key>offset</key>
        <string>{8.5,15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{96,68},{81,89}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_7_6</key>
      <dict>
        <key>frame</key>
        <string>{{412,788},{90,79}}</string>
        <key>offset</key>
        <string>{2,9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85,79},{90,79}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_5_1</key>
      <dict>
        <key>frame</key>
        <string>{{504,849},{96,74}}</string>
        <key>offset</key>
        <string>{3,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{83,85},{96,74}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_5_7</key>
      <dict>
        <key>frame</key>
        <string>{{251,848},{96,74}}</string>
        <key>offset</key>
        <string>{3,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{83,85},{96,74}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_5_6</key>
      <dict>
        <key>frame</key>
        <string>{{857,785},{96,74}}</string>
        <key>offset</key>
        <string>{4,6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{84,85},{96,74}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_2_1</key>
      <dict>
        <key>frame</key>
        <string>{{349,869},{71,100}}</string>
        <key>offset</key>
        <string>{-8.5,20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{84,58},{71,100}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_7_7</key>
      <dict>
        <key>frame</key>
        <string>{{827,427},{91,78}}</string>
        <key>offset</key>
        <string>{1.5,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84,79},{91,78}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_6_1</key>
      <dict>
        <key>frame</key>
        <string>{{846,314},{98,72}}</string>
        <key>offset</key>
        <string>{2,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{81,85},{98,72}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_6_5</key>
      <dict>
        <key>frame</key>
        <string>{{859,198},{94,75}}</string>
        <key>offset</key>
        <string>{4,4.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{85,86},{94,75}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_5_5</key>
      <dict>
        <key>frame</key>
        <string>{{870,92},{94,75}}</string>
        <key>offset</key>
        <string>{4,4.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{85,86},{94,75}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_7_1</key>
      <dict>
        <key>frame</key>
        <string>{{852,507},{91,77}}</string>
        <key>offset</key>
        <string>{1.5,9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84,80},{91,77}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_8_6</key>
      <dict>
        <key>frame</key>
        <string>{{852,586},{77,91}}</string>
        <key>offset</key>
        <string>{8.5,14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{98,68},{77,91}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_0_1</key>
      <dict>
        <key>frame</key>
        <string>{{860,679},{82,84}}</string>
        <key>offset</key>
        <string>{-7,19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{80,67},{82,84}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_7_5</key>
      <dict>
        <key>frame</key>
        <string>{{251,924},{85,81}}</string>
        <key>offset</key>
        <string>{4.5,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{90,80},{85,81}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_5_4</key>
      <dict>
        <key>frame</key>
        <string>{{857,883},{93,74}}</string>
        <key>offset</key>
        <string>{4.5,4}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{86,87},{93,74}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_6_4</key>
      <dict>
        <key>frame</key>
        <string>{{1,935},{93,74}}</string>
        <key>offset</key>
        <string>{4.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{86,87},{93,74}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_5_2</key>
      <dict>
        <key>frame</key>
        <string>{{96,937},{94,73}}</string>
        <key>offset</key>
        <string>{3,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84,86},{94,73}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_6_2</key>
      <dict>
        <key>frame</key>
        <string>{{602,880},{95,72}}</string>
        <key>offset</key>
        <string>{3.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84,87},{95,72}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_4_6</key>
      <dict>
        <key>frame</key>
        <string>{{699,880},{77,88}}</string>
        <key>offset</key>
        <string>{4.5,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{94,73},{77,88}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_4_7</key>
      <dict>
        <key>frame</key>
        <string>{{778,886},{76,89}}</string>
        <key>offset</key>
        <string>{4,12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{94,71},{76,89}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_4_1</key>
      <dict>
        <key>frame</key>
        <string>{{451,925},{75,90}}</string>
        <key>offset</key>
        <string>{3.5,13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{94,70},{75,90}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_1_1</key>
      <dict>
        <key>frame</key>
        <string>{{528,925},{71,95}}</string>
        <key>offset</key>
        <string>{-11.5,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{81,59},{71,95}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_1_1</key>
      <dict>
        <key>frame</key>
        <string>{{338,942},{71,95}}</string>
        <key>offset</key>
        <string>{-11.5,21.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{81,59},{71,95}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_1_7</key>
      <dict>
        <key>frame</key>
        <string>{{936,188},{71,95}}</string>
        <key>offset</key>
        <string>{-11.5,20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{81,60},{71,95}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_7_2</key>
      <dict>
        <key>frame</key>
        <string>{{931,586},{87,77}}</string>
        <key>offset</key>
        <string>{3.5,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{88,81},{87,77}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_5_3</key>
      <dict>
        <key>frame</key>
        <string>{{920,388},{93,72}}</string>
        <key>offset</key>
        <string>{3.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85,87},{93,72}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_6_3</key>
      <dict>
        <key>frame</key>
        <string>{{946,285},{93,72}}</string>
        <key>offset</key>
        <string>{4.5,5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{86,87},{93,72}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_1_2</key>
      <dict>
        <key>frame</key>
        <string>{{945,462},{69,97}}</string>
        <key>offset</key>
        <string>{-10.5,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{83,58},{69,97}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_4_2</key>
      <dict>
        <key>frame</key>
        <string>{{872,1},{75,89}}</string>
        <key>offset</key>
        <string>{2.5,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{93,72},{75,89}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_1_6</key>
      <dict>
        <key>frame</key>
        <string>{{601,954},{70,95}}</string>
        <key>offset</key>
        <string>{-11,19.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{82,61},{70,95}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_7_4</key>
      <dict>
        <key>frame</key>
        <string>{{933,765},{83,80}}</string>
        <key>offset</key>
        <string>{5.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,81},{83,80}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_1_3</key>
      <dict>
        <key>frame</key>
        <string>{{949,1},{67,99}}</string>
        <key>offset</key>
        <string>{-9.5,20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85,58},{67,99}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_0_7</key>
      <dict>
        <key>frame</key>
        <string>{{933,847},{79,84}}</string>
        <key>offset</key>
        <string>{-4.5,18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84,68},{79,84}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_4_4</key>
      <dict>
        <key>frame</key>
        <string>{{933,933},{78,85}}</string>
        <key>offset</key>
        <string>{2,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{91,78},{78,85}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_4_5</key>
      <dict>
        <key>frame</key>
        <string>{{1013,933},{78,85}}</string>
        <key>offset</key>
        <string>{3,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,78},{78,85}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_4_3</key>
      <dict>
        <key>frame</key>
        <string>{{947,102},{76,87}}</string>
        <key>offset</key>
        <string>{2,10.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{92,74},{76,87}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_1_5</key>
      <dict>
        <key>frame</key>
        <string>{{1018,1},{68,97}}</string>
        <key>offset</key>
        <string>{-10,17.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84,62},{68,97}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_0_1</key>
      <dict>
        <key>frame</key>
        <string>{{1015,380},{78,84}}</string>
        <key>offset</key>
        <string>{-5,19}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{84,67},{78,84}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_7_3</key>
      <dict>
        <key>frame</key>
        <string>{{1014,847},{84,78}}</string>
        <key>offset</key>
        <string>{5,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{91,81},{84,78}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_0_7</key>
      <dict>
        <key>frame</key>
        <string>{{1009,180},{71,92}}</string>
        <key>offset</key>
        <string>{-7.5,18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85,64},{71,92}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_attack_1_7</key>
      <dict>
        <key>frame</key>
        <string>{{1020,274},{63,103}}</string>
        <key>offset</key>
        <string>{-9.5,18.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{87,58},{63,103}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_1_4</key>
      <dict>
        <key>frame</key>
        <string>{{1016,460},{66,98}}</string>
        <key>offset</key>
        <string>{-9,18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{86,61},{66,98}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_0_6</key>
      <dict>
        <key>frame</key>
        <string>{{1018,665},{76,85}}</string>
        <key>offset</key>
        <string>{-5,17.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85,68},{76,85}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_2_1</key>
      <dict>
        <key>frame</key>
        <string>{{1020,560},{64,100}}</string>
        <key>offset</key>
        <string>{-12,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84,58},{64,100}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_2_2</key>
      <dict>
        <key>frame</key>
        <string>{{698,970},{63,101}}</string>
        <key>offset</key>
        <string>{-11.5,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85,58},{63,101}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_8_2</key>
      <dict>
        <key>frame</key>
        <string>{{944,665},{71,89}}</string>
        <key>offset</key>
        <string>{9.5,14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{102,69},{71,89}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_2_7</key>
      <dict>
        <key>frame</key>
        <string>{{763,977},{63,100}}</string>
        <key>offset</key>
        <string>{-11.5,19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85,59},{63,100}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_2_3</key>
      <dict>
        <key>frame</key>
        <string>{{828,978},{62,101}}</string>
        <key>offset</key>
        <string>{-11,18.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{86,59},{62,101}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_8_5</key>
      <dict>
        <key>frame</key>
        <string>{{1,1011},{68,92}}</string>
        <key>offset</key>
        <string>{9,13}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103,69},{68,92}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_2_6</key>
      <dict>
        <key>frame</key>
        <string>{{192,1007},{62,100}}</string>
        <key>offset</key>
        <string>{-11,18}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{86,60},{62,100}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_2_4</key>
      <dict>
        <key>frame</key>
        <string>{{294,1015},{62,100}}</string>
        <key>offset</key>
        <string>{-11,16}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{86,62},{62,100}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_3_6</key>
      <dict>
        <key>frame</key>
        <string>{{396,1017},{62,99}}</string>
        <key>offset</key>
        <string>{-4,15.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{93,63},{62,99}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_2_5</key>
      <dict>
        <key>frame</key>
        <string>{{497,1022},{62,99}}</string>
        <key>offset</key>
        <string>{-11,15.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{86,63},{62,99}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_8_4</key>
      <dict>
        <key>frame</key>
        <string>{{95,1012},{66,92}}</string>
        <key>offset</key>
        <string>{8,13}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{103,69},{66,92}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_0_2</key>
      <dict>
        <key>frame</key>
        <string>{{1018,752},{69,88}}</string>
        <key>offset</key>
        <string>{-5.5,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{88,64},{69,88}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_3_7</key>
      <dict>
        <key>frame</key>
        <string>{{892,1020},{61,99}}</string>
        <key>offset</key>
        <string>{-4.5,17.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{93,61},{61,99}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_3_5</key>
      <dict>
        <key>frame</key>
        <string>{{598,1026},{62,97}}</string>
        <key>offset</key>
        <string>{-5,12.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{92,67},{62,97}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_3_1</key>
      <dict>
        <key>frame</key>
        <string>{{993,1020},{59,100}}</string>
        <key>offset</key>
        <string>{-5.5,18}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{93,60},{59,100}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_0_5</key>
      <dict>
        <key>frame</key>
        <string>{{993,1081},{67,88}}</string>
        <key>offset</key>
        <string>{-4.5,18}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{90,66},{67,88}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_3_4</key>
      <dict>
        <key>frame</key>
        <string>{{189,1071},{60,97}}</string>
        <key>offset</key>
        <string>{-6,12.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{92,67},{60,97}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_0_4</key>
      <dict>
        <key>frame</key>
        <string>{{95,1080},{65,89}}</string>
        <key>offset</key>
        <string>{-3.5,18.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{92,65},{65,89}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_8_3</key>
      <dict>
        <key>frame</key>
        <string>{{1,1081},{65,89}}</string>
        <key>offset</key>
        <string>{9.5,13.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{105,70},{65,89}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_3_3</key>
      <dict>
        <key>frame</key>
        <string>{{288,1079},{58,99}}</string>
        <key>offset</key>
        <string>{-7,15.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{92,63},{58,99}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_3_2</key>
      <dict>
        <key>frame</key>
        <string>{{389,1081},{58,99}}</string>
        <key>offset</key>
        <string>{-7,16.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{92,62},{58,99}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>saintess_r_idle_0_3</key>
      <dict>
        <key>frame</key>
        <string>{{490,1086},{63,90}}</string>
        <key>offset</key>
        <string>{-5.5,20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{91,63},{63,90}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{1100,1150}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
