<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>warrior_b_die_0_4</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{61,58}}</string>
        <key>offset</key>
        <string>{-10.5,82}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{87,17},{61,58}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>warrior_b_die_0_6</key>
      <dict>
        <key>frame</key>
        <string>{{1,61},{76,33}}</string>
        <key>offset</key>
        <string>{14,61.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{104,50},{76,33}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>warrior_b_die_0_3</key>
      <dict>
        <key>frame</key>
        <string>{{79,1},{77,32}}</string>
        <key>offset</key>
        <string>{-9.5,63}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{80,49},{77,32}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>warrior_b_die_0_5</key>
      <dict>
        <key>frame</key>
        <string>{{1,96},{33,73}}</string>
        <key>offset</key>
        <string>{-0.5,87.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{111,4},{33,73}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>warrior_b_die_0_7</key>
      <dict>
        <key>frame</key>
        <string>{{76,96},{30,58}}</string>
        <key>offset</key>
        <string>{3,-26}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{116,125},{30,58}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>warrior_b_die_0_1</key>
      <dict>
        <key>frame</key>
        <string>{{76,128},{47,36}}</string>
        <key>offset</key>
        <string>{2.5,22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{107,88},{47,36}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>warrior_b_die_0_2</key>
      <dict>
        <key>frame</key>
        <string>{{1,131},{47,32}}</string>
        <key>offset</key>
        <string>{0.5,31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{105,81},{47,32}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>warrior_b_die_0_10</key>
      <dict>
        <key>frame</key>
        <string>{{125,128},{31,45}}</string>
        <key>offset</key>
        <string>{-1.5,-30.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{111,136},{31,45}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>warrior_b_die_0_8</key>
      <dict>
        <key>frame</key>
        <string>{{136,1},{30,46}}</string>
        <key>offset</key>
        <string>{12,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{125,135},{30,46}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>warrior_b_die_0_11</key>
      <dict>
        <key>frame</key>
        <string>{{113,49},{31,44}}</string>
        <key>offset</key>
        <string>{-2.5,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{110,137},{31,44}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>warrior_b_die_0_9</key>
      <dict>
        <key>frame</key>
        <string>{{125,161},{31,44}}</string>
        <key>offset</key>
        <string>{-2.5,-31}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{110,137},{31,44}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{171,193}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
