<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>deadknightshield_b_die_0_4</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{71,69}}</string>
        <key>offset</key>
        <string>{52.5,54.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{145,39},{71,69}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknightshield_b_die_0_7</key>
      <dict>
        <key>frame</key>
        <string>{{1,72},{69,63}}</string>
        <key>offset</key>
        <string>{60.5,23.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{154,73},{69,63}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknightshield_b_die_0_8</key>
      <dict>
        <key>frame</key>
        <string>{{74,1},{66,62}}</string>
        <key>offset</key>
        <string>{62,1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{157,96},{66,62}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknightshield_b_die_0_5</key>
      <dict>
        <key>frame</key>
        <string>{{1,137},{71,57}}</string>
        <key>offset</key>
        <string>{57.5,67.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{150,32},{71,57}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknightshield_b_die_0_6</key>
      <dict>
        <key>frame</key>
        <string>{{74,69},{67,60}}</string>
        <key>offset</key>
        <string>{58.5,59}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{153,39},{67,60}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknightshield_b_die_0_10</key>
      <dict>
        <key>frame</key>
        <string>{{136,69},{65,59}}</string>
        <key>offset</key>
        <string>{61.5,-16.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{157,115},{65,59}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknightshield_b_die_0_9</key>
      <dict>
        <key>frame</key>
        <string>{{138,1},{64,58}}</string>
        <key>offset</key>
        <string>{59,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{155,99},{64,58}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknightshield_b_die_0_12</key>
      <dict>
        <key>frame</key>
        <string>{{136,136},{64,57}}</string>
        <key>offset</key>
        <string>{60,-19.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{156,119},{64,57}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknightshield_b_die_0_13</key>
      <dict>
        <key>frame</key>
        <string>{{74,138},{64,56}}</string>
        <key>offset</key>
        <string>{60,-20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{156,120},{64,56}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknightshield_b_die_0_11</key>
      <dict>
        <key>frame</key>
        <string>{{1,196},{65,54}}</string>
        <key>offset</key>
        <string>{59.5,-19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{155,120},{65,54}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknightshield_b_die_0_3</key>
      <dict>
        <key>frame</key>
        <string>{{195,136},{62,55}}</string>
        <key>offset</key>
        <string>{46,31.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{143,69},{62,55}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknightshield_b_die_0_2</key>
      <dict>
        <key>frame</key>
        <string>{{197,67},{60,51}}</string>
        <key>offset</key>
        <string>{43,7.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{141,95},{60,51}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknightshield_b_die_0_1</key>
      <dict>
        <key>frame</key>
        <string>{{195,200},{25,57}}</string>
        <key>offset</key>
        <string>{35.5,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{151,94},{25,57}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{253,251}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
