<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>deadknight_b_die_0_1</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{19,48}}</string>
        <key>offset</key>
        <string>{-28.5,15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{90,89},{19,48}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknight_b_die_0_13</key>
      <dict>
        <key>frame</key>
        <string>{{22,1},{15,48}}</string>
        <key>offset</key>
        <string>{-26.5,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{94,114},{15,48}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknight_b_die_0_9</key>
      <dict>
        <key>frame</key>
        <string>{{39,1},{13,54}}</string>
        <key>offset</key>
        <string>{-27.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{94,94},{13,54}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknight_b_die_0_2</key>
      <dict>
        <key>frame</key>
        <string>{{54,1},{13,53}}</string>
        <key>offset</key>
        <string>{-29.5,74.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,27},{13,53}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknight_b_die_0_4</key>
      <dict>
        <key>frame</key>
        <string>{{1,51},{17,34}}</string>
        <key>offset</key>
        <string>{-30.5,77}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{89,34},{17,34}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknight_b_die_0_5</key>
      <dict>
        <key>frame</key>
        <string>{{69,1},{8,62}}</string>
        <key>offset</key>
        <string>{-31,85}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{93,12},{8,62}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknight_b_die_0_7</key>
      <dict>
        <key>frame</key>
        <string>{{37,57},{17,28}}</string>
        <key>offset</key>
        <string>{-30.5,80}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{89,34},{17,28}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknight_b_die_0_6</key>
      <dict>
        <key>frame</key>
        <string>{{1,76},{7,55}}</string>
        <key>offset</key>
        <string>{-30.5,78.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{94,22},{7,55}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknight_b_die_0_8</key>
      <dict>
        <key>frame</key>
        <string>{{79,1},{8,40}}</string>
        <key>offset</key>
        <string>{-29,59}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{95,49},{8,40}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknight_b_die_0_11</key>
      <dict>
        <key>frame</key>
        <string>{{79,43},{6,48}}</string>
        <key>offset</key>
        <string>{-28,16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{97,88},{6,48}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknight_b_die_0_12</key>
      <dict>
        <key>frame</key>
        <string>{{87,43},{7,35}}</string>
        <key>offset</key>
        <string>{-26.5,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{98,104},{7,35}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknight_b_die_0_3</key>
      <dict>
        <key>frame</key>
        <string>{{67,65},{8,18}}</string>
        <key>offset</key>
        <string>{-31,78}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{93,41},{8,18}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>deadknight_b_die_0_10</key>
      <dict>
        <key>frame</key>
        <string>{{87,80},{9,15}}</string>
        <key>offset</key>
        <string>{-27.5,12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{96,108},{9,15}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{97,96}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
