<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tower1_saintess_b_1</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{104,135}}</string>
        <key>offset</key>
        <string>{0,15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{76,45},{104,135}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower3_saintess_b_1</key>
      <dict>
        <key>frame</key>
        <string>{{107,1},{104,126}}</string>
        <key>offset</key>
        <string>{0,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{76,42},{104,126}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower3_saintess_r_1</key>
      <dict>
        <key>frame</key>
        <string>{{1,138},{104,123}}</string>
        <key>offset</key>
        <string>{0,25.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{76,41},{104,123}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower1_saintess_r_1</key>
      <dict>
        <key>frame</key>
        <string>{{126,129},{104,123}}</string>
        <key>offset</key>
        <string>{0,21.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{76,45},{104,123}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower4_saintess_b_1</key>
      <dict>
        <key>frame</key>
        <string>{{126,235},{92,132}}</string>
        <key>offset</key>
        <string>{0,18}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{82,44},{92,132}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower2_saintess_b_1</key>
      <dict>
        <key>frame</key>
        <string>{{213,1},{96,124}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{80,41},{96,124}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower5_saintess_r_1</key>
      <dict>
        <key>frame</key>
        <string>{{251,127},{96,123}}</string>
        <key>offset</key>
        <string>{0,23.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{80,43},{96,123}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower5_saintess_b_1</key>
      <dict>
        <key>frame</key>
        <string>{{311,1},{96,123}}</string>
        <key>offset</key>
        <string>{0,23.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{80,43},{96,123}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower2_saintess_r_1</key>
      <dict>
        <key>frame</key>
        <string>{{260,225},{96,122}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{80,42},{96,122}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower4_saintess_r_1</key>
      <dict>
        <key>frame</key>
        <string>{{1,244},{92,123}}</string>
        <key>offset</key>
        <string>{0,22.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{82,44},{92,123}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower1_saintess_b_2</key>
      <dict>
        <key>frame</key>
        <string>{{260,323},{104,95}}</string>
        <key>offset</key>
        <string>{0,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{76,85},{104,95}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower3_saintess_b_2</key>
      <dict>
        <key>frame</key>
        <string>{{126,329},{104,84}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{76,84},{104,84}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower1_saintess_r_2</key>
      <dict>
        <key>frame</key>
        <string>{{1,338},{104,83}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{76,85},{104,83}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower2_saintess_b_2</key>
      <dict>
        <key>frame</key>
        <string>{{376,126},{96,88}}</string>
        <key>offset</key>
        <string>{0,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{80,77},{96,88}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower2_saintess_r_2</key>
      <dict>
        <key>frame</key>
        <string>{{409,1},{96,87}}</string>
        <key>offset</key>
        <string>{0,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{80,77},{96,87}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower3_saintess_r_2</key>
      <dict>
        <key>frame</key>
        <string>{{366,323},{104,80}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{76,84},{104,80}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower5_saintess_r_2</key>
      <dict>
        <key>frame</key>
        <string>{{384,216},{96,84}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{80,82},{96,84}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower5_saintess_b_2</key>
      <dict>
        <key>frame</key>
        <string>{{107,415},{96,84}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{80,82},{96,84}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower4_saintess_b_2</key>
      <dict>
        <key>frame</key>
        <string>{{1,423},{92,87}}</string>
        <key>offset</key>
        <string>{0,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{82,88},{92,87}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>tower4_saintess_r_2</key>
      <dict>
        <key>frame</key>
        <string>{{366,405},{92,78}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{82,88},{92,78}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{506,511}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
