<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>cage_b_attack_0_6</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{111,114}}</string>
        <key>offset</key>
        <string>{1.5,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{74,63},{111,114}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_8_5</key>
      <dict>
        <key>frame</key>
        <string>{{114,1},{112,107}}</string>
        <key>offset</key>
        <string>{3,7.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{75,67},{112,107}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_8_7</key>
      <dict>
        <key>frame</key>
        <string>{{1,117},{107,110}}</string>
        <key>offset</key>
        <string>{2.5,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{77,66},{107,110}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_0_5</key>
      <dict>
        <key>frame</key>
        <string>{{113,117},{112,105}}</string>
        <key>offset</key>
        <string>{1,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{73,64},{112,105}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_0_4</key>
      <dict>
        <key>frame</key>
        <string>{{113,224},{108,106}}</string>
        <key>offset</key>
        <string>{1,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{75,68},{108,106}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_8_6</key>
      <dict>
        <key>frame</key>
        <string>{{223,1},{111,102}}</string>
        <key>offset</key>
        <string>{2.5,10}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{75,67},{111,102}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_8_4</key>
      <dict>
        <key>frame</key>
        <string>{{223,224},{107,93}}</string>
        <key>offset</key>
        <string>{2.5,8.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{77,73},{107,93}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_0_7</key>
      <dict>
        <key>frame</key>
        <string>{{227,114},{106,88}}</string>
        <key>offset</key>
        <string>{2,10}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{77,74},{106,88}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_8_8</key>
      <dict>
        <key>frame</key>
        <string>{{1,226},{100,91}}</string>
        <key>offset</key>
        <string>{2,10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{80,72},{100,91}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_0_8</key>
      <dict>
        <key>frame</key>
        <string>{{317,114},{101,88}}</string>
        <key>offset</key>
        <string>{2.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{80,75},{101,88}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_0_9</key>
      <dict>
        <key>frame</key>
        <string>{{318,204},{95,93}}</string>
        <key>offset</key>
        <string>{2.5,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{83,74},{95,93}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_8_3</key>
      <dict>
        <key>frame</key>
        <string>{{327,1},{96,89}}</string>
        <key>offset</key>
        <string>{2,11.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{82,72},{96,89}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_0_3</key>
      <dict>
        <key>frame</key>
        <string>{{1,319},{96,85}}</string>
        <key>offset</key>
        <string>{1,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{81,78},{96,85}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_0_11</key>
      <dict>
        <key>frame</key>
        <string>{{318,299},{88,91}}</string>
        <key>offset</key>
        <string>{2,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{86,76},{88,91}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_8_9</key>
      <dict>
        <key>frame</key>
        <string>{{99,332},{95,83}}</string>
        <key>offset</key>
        <string>{1.5,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{82,80},{95,83}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_8_10</key>
      <dict>
        <key>frame</key>
        <string>{{196,333},{91,85}}</string>
        <key>offset</key>
        <string>{1.5,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84,79},{91,85}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_8_2</key>
      <dict>
        <key>frame</key>
        <string>{{418,1},{86,89}}</string>
        <key>offset</key>
        <string>{2,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{87,76},{86,89}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_0_10</key>
      <dict>
        <key>frame</key>
        <string>{{408,299},{90,85}}</string>
        <key>offset</key>
        <string>{2,10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85,75},{90,85}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_8_11</key>
      <dict>
        <key>frame</key>
        <string>{{415,204},{89,82}}</string>
        <key>offset</key>
        <string>{1.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85,78},{89,82}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_0_1</key>
      <dict>
        <key>frame</key>
        <string>{{420,92},{80,83}}</string>
        <key>offset</key>
        <string>{2,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{90,80},{80,83}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_8_1</key>
      <dict>
        <key>frame</key>
        <string>{{1,406},{81,75}}</string>
        <key>offset</key>
        <string>{1.5,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{89,82},{81,75}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>cage_b_attack_0_2</key>
      <dict>
        <key>frame</key>
        <string>{{84,417},{85,71}}</string>
        <key>offset</key>
        <string>{1.5,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{87,85},{85,71}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{505,489}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
